build/mme/build/
build/mme/CMakeLists.txt
build/spgw/build/
build/spgw/CMakeLists.txt
build/hss/build/
build/log/
scripts/abort
scripts/core
openair-cn.config
openair-cn.creator
openair-cn.creator.user
openair-cn.files
openair-cn.includes

# compiled ASN.1 files
src/s1ap/messages/asn1/r*/*.c
src/s1ap/messages/asn1/r*/*.h
src/s1ap/messages/asn1/r*/Makefile.am.sample
src/s1ap/messages/asn1/r*/*.h.gch

# eclipse
src/.cproject
src/.project
src/.settings/

# Docker Image
bned_mme.tar.gz
